@media (min-width: 800px) {
    .dashboardwrapper2col {
        grid-column: span 2;
    }
}
@media (max-width: 800px) {
    .dashboardwrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
    }
}
@media (min-width: 800px) {
    .dashboardwrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-flow: dense;
    }
}

.dashboardwrapper > * {
    display: contents;
    margin-bottom: 0px !important;
}
