.nobordereditor * .p-editor-toolbar {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.nobordereditor * .p-editor-content {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.nobordereditor * .ql-editor {
    border-radius: 0px !important;
    padding: 0.1rem 0.3rem !important;
}

.nobordereditor * .p-editor-content {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.hidetoolbareditor * .p-editor-toolbar {
    border: 0px !important;
    padding: 0px !important;
}

.hidetoolbareditor * .p-editor-content {
    border: 1px solid var(--p-editor-content-border-color) !important;
    border-radius: var(--panel-rounding-size) !important;
}

.hidetoolbareditor * .ql-editor {
    border-radius: var(--panel-rounding-size) var(--panel-rounding-size) !important;
}
