.fullheighteditor {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
}

.nobordereditor .p-editor-toolbar {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.nobordereditor .p-editor-content {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.nobordereditor .ql-editor {
    border-radius: 0px !important;
    padding: 0.2rem 0.5rem !important;
}

.hidetoolbareditor .p-editor-toolbar {
    border: 0px !important;
    padding: 0px !important;
}

.hidetoolbareditor .p-editor-content {
    border: 1px solid var(--p-editor-content-border-color) !important;
    border-radius: var(--panel-rounding-size) !important;
}

.hidetoolbareditor .ql-editor {
    border-radius: var(--panel-rounding-size) var(--panel-rounding-size) !important;
}

.nobordernotoolbar .p-editor-toolbar {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.nobordernotoolbar .p-editor-content {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.nobordernotoolbar .ql-editor {
    border-radius: 0px !important;
    padding: 0.2rem 0.5rem !important;
}
