.imageHeightFull p-galleriaitem {
    height: 100%;
    width: 100%;
}

.imageHeightFull .p-galleria-items {
    height: 100%;
    width: 100%;
}

.imageHeightFull .p-galleria-content {
    height: 100%;
    width: 100%;
}
