.layout-main-landing-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main-landing {
    flex: 1 1 auto;
    padding: 0;
}

.layout-main-snapscroll {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 99vh;
    width: 100%;
}

.layout-main-snapscroll > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
}

.layout-main-landing-navigator {
    right: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    align-self: anchor-center;
    text-align: end;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.layout-main-landing-video-background {
    left: 0px;
    top: 0px;
    scale: 1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}
