.p-datatable {
    margin-top: 0px !important;
}

.p-treetable {
    margin-top: 0px !important;
}

.p-datatable-header {
    border-width: 0px !important;
}

.p-treetable-header {
    border-width: 0px !important;
}

:root {
    --p-datatable-header-cell-background: var(--p-content-border-color) !important;
    --p-treetable-header-cell-background: var(--p-content-border-color) !important;
}

:root[class*='dark'] {
    --p-datatable-header-cell-background: var(--p-content-border-color) !important;
    --p-treetable-header-cell-background: var(--p-content-border-color) !important;
}
