.rowclickable {
    cursor: pointer;
}
.rowclickable:hover {
    background: var(--p-datatable-row-hover-background) !important;
}

.p-datatable-table-container {
    border-width: 1px 1px 1px 1px;
    border-color: var(--p-datatable-body-cell-border-color);
    border-style: solid;
}
